.containerTop {
	text-align: center;
	font-size: 20px;
	font-family: Candal;
	background-color: #A6D0DC;
	border: 3px dotted white;
}

#belt {
	height: 12%;
	width: 12%;
	opacity: 0.75;
}

#champ {
	color: #F0E68C;
	font-size: 24px;
	padding: 10px;
}

#tally, #currentWrestler {
	margin-top: 5%;
	margin-left: 5%;
	font-family: Candal;
	
}


